# OS X
.DS_Store

# LaTeX
*.log
*.aux
*.fdb_latexmk
*.synctex.gz
*.toc
*.glg
*.glo
*.gls
*.out
*.ist

# PDF
*.pdf

# Java
/diagrams/*.png
/.metadata/
/src/edu/.metadata/
/statistics.csv
/error.log
/po/*.mo
/diagrams/Temp.ucls
/bin
/.classpath
/.project
/.settings
