<?xml version="1.0" encoding="UTF-8"?>
<config>
  <idleTimeout>300000</idleTimeout>
  <resetTimeout>60000</resetTimeout>
  <debugMode>true</debugMode>
  <fullscreenMode>true</fullscreenMode>
  <lookAndFeel>true</lookAndFeel>
  <mouseCursor>true</mouseCursor>
  <languageCode>de</languageCode>
</config>
